table
	width 100%

table th
table td
	text-align left
	border 1px solid #dedede
	
table th
	background #666666
	color #fff
	font-size 1.2em
	font-weight normal
	padding 5px 10px
	
table td
	padding 12px 10px
	font-size 1em

table td:last-child
	font-size 1.5em
	font-weight bold

.actual
.completado
	background #33A1D9 !important

.actual a
.completado a
	border 2px solid #1676a7 !important
	
.actual h1
.completado h1
	visibility visible !important

.base_controles
	position relative
	
.base_controles button
	position absolute
	border-radius 0%
	padding 5px 13px
	right 0px
	margin 0
	border 0px solid #ff6d00
	background #fa8935
	color #fff
	font-size 

.boton_descarga
	margin 0 auto
	width 100%
	text-align center
	
.base_controles button:hover
.button:hover
	background #ff6d00
	
.button
	border-radius 0%
	padding 5px 13px
	margin 0
	border 0px solid #ff6d00
	background #fa8935
	color #fff
	font-size 
	
.completado a
	background #49c0fd

.form_pedido
	margin 10px 0 50px

.form_pedido fieldset
	border 1px solid #DEDEDE
	margin 0
	
.form_pedido .form
	width 60%

.form_pedido .form div
	margin 0 0 10px 0
	
.form_pedido .form div > label
	display block
	font-size 14px
	margin 0 0 5px 0
	
.form_pedido .form #nombre
.form_pedido .form #apellido
	width 20% /*111px*/
	padding 5px 0px 5px 5px
	
.form_pedido .form #cp
	width 50px
	
.form_pedido .info
	width 40%

.membresia
	width 502px
	height 319px
	background-image url("http://127.0.0.1/kembikio/assets/imagenes/membresia_tarj.jpg")
	margin 0 auto 20px
	-webkit-box-shadow 0px 0px 8px 0px #000
	box-shadow 0px 0px 8px 0px #000
	border 1px dashed #000
	
.membresia > .nombre
	left 140px
	top 170px
	position relative
	font-size 30px
	
.membresia > .plan
	position relative
	top 220px
	left 130px
	font-size 20px
	
.message h1
	text-align center
	padding 10px
	
.paypal
	width 50%
	float right
	text-align center
	vertical-align middle
	
.paypal input
	width auto

.paypal h2
	margin-top 0
	
.paypal img
	vertical-align middle
	
.redes_aceptadas
		padding 20px
	
.tpv
	width 50%
	float left
	text-align center
	
#compra_lineatemporal
	width 100%
	text-align center
	padding 0
	
#compra_lineatemporal li
	display inline-block
	width 33.3%
	height 10px
	background #ccc	
	text-align right
	margin-top 40px
	margin 40px 0px 20px 0px
	vertical-align top

#compra_lineatemporal li:first-child
#compra_lineatemporal li:last-child
	border-radius 10px 0px 0px 10px
	
#compra_lineatemporal div
	text-align: center;
	position: relative;
	display: block;
	margin-top: -50px;
	width 100%
	right -50%
	
#compra_lineatemporal li h1
	font-size 20px
	white-space nowrap
	visibility hidden
	
#compra_lineatemporal li a
	background #fff
	position relative
	border 2px solid #ccc
	border-radius 50%
	padding 2px 8px 5px
	bottom 10px
	margin-right -5px
	height 20px
	width 10px
	display inline-block
	
#contenido
	width 70%
	margin 0 auto