html,
body {
  height: 100% !important;
}
footer {
  margin: -25px auto 0;
  height: 25px;
  width: 100%;
  color: #fff;
  background: #000;
  text-align: center;
  line-height: 25px;
  font-size: 12px;
}
header {
  background: #666;
  color: #fff;
  display: block;
  height: 60px;
}
h2 {
  margin: 0 0 10px 0;
}
nav {
  float: right;
  display: inline-block;
  height: 60px;
  line-height: 60px;
}
nav ul {
  margin: 0;
  padding: 0 20px 0 0;
}
nav ul li {
  display: inline-block;
  margin: 0;
  font-weight: 500;
  letter-spacing: 0.03em;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
  height: 100%;
  padding: 0 10px;
  display: block;
  -webkit-transition: background 1s;
  -moz-transition: background 1s;
  -o-transition: background 1s;
  transition: background 300ms;
}
nav ul li a:hover {
  background: #575757;
}
nav ul li a:link {
  text-decoration: none;
}
ul {
  margin: 0;
}
/* ids */
#acerca_de_cabecera {
  text-align: center;
}
#boton_llamaya {
  display: none;
}
#contactanos_cabecera {
  background: url("../imagenes/mapa-gm.png") 100%;
  height: 200px;
}
#contenedor {
  width: 100%;
  height: 100%;
}
#form_contacto > fieldset {
  padding: 20px;
}
#form_contacto > fieldset > legend {
  padding: 0 5px;
  font-weight: bold;
}
#headerBar {
  width: 950px;
  margin: 0 auto;
  height: inherit;
}
#inf_planes {
  margin: 10px 0;
}
#inf_planes > li {
  height: 450px;
  width: 200px;
  display: inline-block;
  vertical-align: top;
  background: #e6e6e6;
  margin: 2px 2px 30px 2px;
}
#inf_planes > li:hover {
  -webkit-box-shadow: 0px 0px 4px 0px #666;
  box-shadow: 0px 0px 4px 0px #666;
  margin-top: -10px;
}
#inf_planes > li:last-child {
  height: 490px;
  width: 250px;
  margin: -20px 2px 2px 2px;
  -webkit-box-shadow: 0px 0px 4px 0px #666;
  box-shadow: 0px 0px 4px 0px #666;
}
#inf_planes > li:last-child h2 {
  font-size: 1.3em;
}
#inf_planes > li:last-child .precio {
  font-size: 1.7em;
}
#inf_planes > li:last-child .condiciones {
  font-size: 1em;
}
#inf_planes li h2 {
  text-align: center;
  font-size: 1em;
  font-style: normal;
  margin: 10px;
}
#inf_planes li .precio {
  color: #009245;
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
  margin: 5px;
}
#inf_planes li .precio > span {
  color: #000;
  font-weight: normal;
  font-size: 0.7em;
}
#inf_planes li .condiciones {
  text-align: center;
  font-size: 0.8em;
  margin: 0px 0px 20px 0px;
}
#inf_planes li .solicitar {
  text-align: center;
}
#inf_planes li ul {
  margin: 0;
  padding: 0;
}
#inf_planes li ul li {
  margin: 5px 0;
  padding: 10px;
  background: #ccc;
  list-style-type: none;
  text-align: center;
  font-size: 0.8em;
}
#inf_servicios li {
  margin: 20px;
}
#inf_servicios li,
#inf_servicios li div,
#inf_servicios li .img,
#inf_servicios li .def {
  display: inline-block;
}
#inf_servicios li div {
  margin: 10px;
}
#inf_servicios li .def {
  width: 570px;
  vertical-align: top;
}
#inf_servicios li .img {
  text-align: center;
}
#llamanos {
  display: inline-block;
  color: #fff;
  font-size: 1.7em;
  margin: 10px 30px;
  width: 500px;
}
#llamanos_m {
  display: none;
}
#logo {
  float: left;
  display: inline-block;
  height: 60px;
  padding: 0 0 0 10px;
}
#mainContent {
  margin: 0 auto;
  width: 950px;
  height: auto;
  min-height: 100%;
}
#mainContent::after {
  height: 25px;
  display: block;
  clear: both;
  content: '';
}
#navegacion {
  float: right;
  display: inline-block;
  height: 60px;
  line-height: 60px;
}
#respuesta_form_contacto {
  width: 250px;
  display: none;
  text-align: left;
  font-size: 0.9em;
}
#respuesta_form_contacto ul {
  margin: 0;
  padding-left: 15px;
}
#respuesta_form_contacto ul li {
  color: #f55;
  margin-top: 5px;
}
#respuesta_form_contacto ul li::before {
  display: none;
}
#welcome {
  background: url("../imagenes/background.png") no-repeat;
  width: 950px;
  height: 579px;
  margin: 0 auto;
  color: #fff;
  position: relative;
}
#welcome h2 {
  margin: 0px 0 10px 40px;
  padding: 30px 0 0 0;
  font-weight: 400;
  font-size: 30px;
}
#welcome .slogan {
  font-family: 'Roboto Slab';
}
#welcome .slogan	 strong {
  color: #33a1d9;
  font-size: 1.2em;
  text-shadow: 1px 1px 1px #fff;
}
#welcome ul {
  margin: 0 0 0 40px;
}
#welcome ul li {
  margin: 0 0 6px 0;
}
#welcome #services {
  height: 170px;
/*padding 20px*/
  background: rgba(102,102,102,0.4);
  width: 950px;
  position: absolute;
  bottom: 0px;
}
#welcome #services ul {
  margin: 0 0 0 0;
  padding: 0;
  text-align: center;
}
#welcome #services ul li {
  display: inline-block;
}
#welcome #services ul li div {
  width: 220px;
}
#welcome #services ul li div p {
  text-align: center;
}
/* clases */
.boton {
  padding: 3px 15px;
  font-size: 0.9em;
  font-weight: 600;
  font-style: bold;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  -webkit-box-shadow: 0px 0px 4px 0px #0a0a0a;
  box-shadow: 0px 0px 4px 0px #0a0a0a;
  background-color: #f1924c;
  background-image: -webkit-linear-gradient(top, #f1924c, #ff6d00);
  background-image: linear-gradient(to bottom, #f1924c, #ff6d00);
  text-decoration: none;
  margin: 15px 13px;
}
.email {
  font-size: 1.8em;
  text-align: center;
  margin: 10px 0;
  font-weight: bold;
}
.direccion {
  font-size: 1.5em;
  text-align: center;
  margin: 10px 0;
}
.fila_campos {
  display: block;
  margin-bottom: 10px;
  text-align: left;
}
.fila_campos select {
  width: 40%;
}
.fila_campos > label {
  width: 100px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  font-size: 0.9em;
}
.fila_contactos .columna_izq,
.fila_contactos .columna_der {
  display: inline-block;
  text-align: center;
}
.fila_contactos .columna_izq {
  vertical-align: top;
  width: 450px;
}
.fila_contactos .columna_der {
  padding: 0 10px;
}
.telefono {
  font-size: 1.7em;
  text-align: center;
  margin: 10px 0;
}
.titulo {
  text-align: center;
}
