@media screen and (max-width: 768px) {
  footer {
    margin: 0 auto;
    height: 25px;
    width: 100%;
    color: #fff;
    background: #000;
    text-align: center;
    line-height: 25px;
    font-size: 12px;
  }
  header {
    height: auto;
    float: none;
  }
  nav {
    float: none;
    line-height: normal;
    height: auto;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  nav ul {
    text-align: center;
    padding: 5px 0;
  }
  #boton_llamaya {
    display: inline-block;
  }
  #headerBar {
    width: 100%;
  }
  #logo {
    text-align: center;
    display: block;
    float: none;
  }
  #llamanos {
    display: none;
  }
  #llamanos_m {
    display: inline;
    color: #2b2b2b;
    font-size: 1.2em;
  }
  #welcome {
    background: #fff;
    color: #000;
  }
  #welcome h2 {
    margin: 0px 0 10px 20px;
    padding: 10px 0 0 0;
    font-weight: 400;
    font-size: 30px;
  }
  #welcome,
  #welcome #services {
    width: 100%;
    height: auto;
  }
  #welcome #services {
    background: #666;
    position: relative;
    color: #fff;
    margin-top: 10px;
  }
  #welcome .slogan strong {
    color: #e26406;
  }
  #welcome ul {
    margin: 0 0 0 20px;
  }
}
