@media screen and (max-width: 768px)
	/* Pre-render */
	
	
	/* Etiquetas */
	
	footer
		margin 0 auto
		height 25px
		width 100%
		color #ffffff
		background #000000
		text-align center
		line-height @height
		font-size 12px	
	
	header
		height auto
		float none
		
	nav
		float none
		line-height normal
		height auto
		overflow-y hidden
		overflow-x scroll
		white-space nowrap
		-webkit-overflow-scrolling touch
		
	nav ul 
		text-align center
		padding 5px 0
	
	/* IDs */
	#boton_llamaya
		display inline-block
	
	#headerBar
		width 100%
	
	#logo
		text-align center
		display block
		float none
		
	#llamanos
		display none
		
	#llamanos_m
		display inline
		color #2B2B2B
		font-size 1.20em
		
	#welcome
		background #fff
		color #000000

	#welcome h2
		margin 0px 0 10px 20px
		padding 10px 0 0 0
		font-weight 400
		font-size 30px
		
	#welcome, #welcome #services
		width 100%
		height auto
		
	#welcome #services
		background #666666
		position relative
		color #fff
		margin-top 10px
	
	#welcome .slogan strong
		color #E26406
	
	#welcome ul
		margin 0 0 0 20px
		
	
	/* Clases */
	
		